{% load static %}
{% load mptt_tags %}
<!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <img alt="" src="{% static 'images/preloaders/5.gif' %}">
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>
<!-- Header -->
  <header id="header" class="header">
    <div class="header-top bg-theme-color-2 sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="widget no-border m-0">
              <ul class="list-inline">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">123-456-789</a> </li>
                <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Mon-Fri 8:00 to 2:00 </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="#">contact@yourdomain.com</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget no-border m-0">
              <ul class="list-inline text-right sm-text-center">
                <li>
                  <a href="#" class="text-white">FAQ</a>
                </li>
                <li class="text-white">|</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
          <nav id="menuzord-right" class="menuzord default">
            <a class="menuzord-brand pull-left flip" href="/">
              <img src="{% static 'images/logo-wide.png' %}" alt="">
            </a>
            <ul class="menuzord-menu onepage-nav">
                <li class="active"><a href="#home">Home</a></li>

                <li><a href="/about">About</a></li>
                {% recursetree category %}
                <li><a href="/category/{{ node.id }}/{{ node.slug }}" {% if not node.is_leaf_node %}{% endif %}>{{ node.title }}</a>
                      {% if not node.is_leaf_node %}
                          <ul class="dropdown">
                             <li>{{ children }}</li>
                          </ul>
                      {% endif %}
                </li>
                {% endrecursetree %}
              <li><a href="#teachers">Teachers</a></li>
              <li><a href="#gallery">Gallery</a></li>
              <li><a href="/contact">Contact</a></li>
              <li>
                  {% if user.id is not None %}
                  <a href="#">{{ user.username }}</a>

                        <ul class="dropdown">
                            <li><a href="#">Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                  {% else %}
                      <a href="/login" >Login</a>
                      <a href="/register" >Register</a>
                  {% endif %}
              </li>
              <li class="text-white">|</li>
              <li><img src="{{ request.session.userimage }}" style="height: 40px; border-radius: 30%"></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>