{% extends "homebase.html" %}
{% load mptt_tags %}
{% block title %} Note List {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}


{% block content %}

      <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white text-center">Shop Sidebar</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-gray-silver">Page Title</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

      <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <div class="row multi-row-clearfix">
                <div class="products">
                    {% for rs in notes %}
                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb">
                        <img alt="" src="{{ rs.image.url }}" class="img-responsive img-fullwidth">
                        <div class="overlay">
                          <div class="btn-add-to-cart-wrapper">
                          </div>
                          <div class="btn-product-view-details">
                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="/note/{{ rs.id }}/{{ rs.slug }}">Details</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-details text-center">
                        <a href="/note/{{ rs.id }}/{{ rs.slug }}"><h5 class="product-title">{{ rs.title }}</h5></a>
                        <div class="price">{{ rs.category.title }}</div>
                          <div class="price">By: {{ rs.user }}</div>

                      </div>
                    </div>
                  </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="sidebar sidebar-right mt-sm-30">
                <div class="widget">
                  <h5 class="widget-title line-bottom">Search box</h5>
                    <script>
                        $(function () {
                            $("#query").autocomplete({
                                source: "/search-auto/",
                                select: function (event,ui) {//item selected
                                    AutoCompleteSelectHandler(event,ui)
                                },
                                minLength:2,
                            });
                        });
                        function AutoCompleteSelectHandler(event,ui)
                        {
                            var selectedObj = ui.item;
                        }
                    </script>
                  <div class="search-form">
                    <form action="/search/" method="post">
                        {% csrf_token %}
                      <div class="input-group">
                        <input id="query" name="query" type="text" placeholder="Click to Search" class="form-control search-input">
                            <select style="float: left" name="catid" class="input search-categories">
                                <option value="0">All Categories</option>
                                {% recursetree category %}
                                    {% if node.is_leaf_node %}
                                    <option value="{{ node.id }}">{{ node.title }}</option>
                                    {% endif %}
                                    {% if not node.is_leaf_node %}
                                    <optgroup label="{{ node.title }}">
                                        {{ children }}
                                    </optgroup>
                                    {% endif %}
                                {% endrecursetree %}
                            </select>
                          <span class="input-group-btn">
                        <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="widget">
                  <h5 class="widget-title line-bottom">Categories</h5>
                  <div class="categories">

                    <ul class="list list-border angle-double-right">
                        {% recursetree category %}
                            <li><a href="/category/{{ node.id }}/{{ node.slug }}" {% if not node.is_leaf_node %}{% endif %}>{{ node.title }}</a>
                              {% if not node.is_leaf_node %}
                                  <ul class="dropdown">
                                     <li>{{ children }}</li>
                                  </ul>
                              {% endif %}
                            </li>
                        {% endrecursetree %}
{#                        {% recursetree category %}#}
{#                      <li><a href="#">{{ node.title }}<span></span></a></li>#}
{#                            {% if not node.is_leaf_node %}#}
{#                          <ul class="dropdown">#}
{#                             <li>{{ children }}</li>#}
{#                          </ul>#}
{#                      {% endif %}#}
{#                        {% endrecursetree %}#}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nav>
                <ul class="pagination">
                  <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">...</a></li>
                  <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->


{% endblock %}