{% extends "homebase.html" %}
{% block title %} User Comments {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block content %}
    {% load static %}
    <!-- Section: Student Details -->
    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
              <div>
                  {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                  {% endif %}
                <h3>My Comments</h3>

                  <table class="table">
                            <tr>
                                <th class="text-left">Notes</th>
                                <th class="text-left">Rate</th>
                                <th class="text-left">Subject</th>
                                <th class="text-left">Comment</th>
                                <th class="text-left">Status</th>
                                <th class="text-left">Date</th>
                                <th class="text-left">Detail</th>


                            </tr>
                            {% for rs in comments %}
                                <tr>
                                    <td class="text-left">
                                        <a href="/note/{{ rs.note.id }}/{{ rs.note.slug }}">
                                        {{ rs.note.title }}
                                        </a>
                                    </td>

                                    <td class="text-left">{{ rs.rate }}</td>
                                    <td class="text-left">{{ rs.subject }}</td>
                                    <td class="text-left">{{ rs.comment }}</td>
                                    <td class="text-left">{{ rs.status }}</td>
                                    <td class="text-left">{{ rs.create_at }}</td>
                                    <td class="text-left">
                                        <a class="btn-primary" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Will be Delete! Are you sure?')">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                  </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- end main-content -->



{% endblock %}