{% extends "homebase.html" %}
{% block title %} Profile - {{ user.first_name }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block content %}
    {% load static %}
    <!-- Section: Student Details -->
    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
              <div>
                  {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                  {% endif %}
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <h5 class="text-theme-colored"></h5>
                <p></p>
              </div>
                <ul class="nav nav-tabs mt-30">
                  <li class="active"><a data-toggle="tab" href="#tab1" aria-expanded="false">Profile</a></li>
                  <li class=""><a data-toggle="tab" href="#tab2" aria-expanded="true">Experience</a></li>
                  <li class=""><a data-toggle="tab" href="#tab3" aria-expanded="false">Accolades</a></li>
                </ul>
                <div class="tab-content">
                  <div id="tab1" class="tab-pane fade active in">
                    <dl class="dl-horizontal doctor-info">
                      <dt>Experience</dt>
                      <dd>

                      </dd>
                      <hr>
                    </dl>
                  </div>
                  <div id="tab2" class="tab-pane fade">
                    <h5>Experience In:</h5>
                  </div>
                  <div id="tab3" class="tab-pane fade">
                  </div>
                </div>
            </div>

            <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
              <div class="doctor-thumb">
                <img src="{{ profile.image.url }}" alt="">
              </div>
              <h4 class="line-bottom">About Me:</h4>
              <div class="volunteer-address">
                <ul>
{#                  <li>#}
{#                    <div class="bg-light media border-bottom-theme-colored-2px p-15 mb-20">#}
{#                      <div class="media-left">#}
{#                        <i class="fa fa-book text-theme-colored font-24 mt-5"></i>#}
{#                      </div>#}
{#                      <div class="media-body">#}
{#                        <h5 class="mt-0 mb-0">Education:</h5>#}
{#                        <p><br></p>#}
{#                      </div>#}
{#                    </div>#}
{#                  </li>#}
                  <li>
                    <div class="bg-light media border-bottom-theme-colored-2px p-15 mb-20">
                      <div class="media-left">
                        <i class="fa fa-map-marker text-theme-colored font-24 mt-5"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mt-0 mb-0">Address:</h5>
                        <p>{{ profile.address }}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="bg-light media border-bottom-theme-colored-2px p-15 mb-20">
                      <div class="media-left">
                        <i class="fa fa-phone text-theme-colored font-24 mt-5"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mt-0 mb-0">Phone:</h5>
                        <p>{{ profile.phone }}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="bg-light media border-bottom-theme-colored-2px p-15 mb-20">
                      <div class="media-left">
                        <i class="fa fa-envelope-o text-theme-colored font-24 mt-5"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mt-0 mb-0">Email:</h5>
                        <p>{{ profile.user.email }}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="bg-light media border-bottom-theme-colored-2px p-15 mb-20">
                      <div class="media-left">
                        <i class="fa fa-laptop text-theme-colored font-24 mt-5"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mt-0 mb-0">Web Address:</h5>
                        <p></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->



{% endblock %}